html {
  scroll-behavior: smooth;
}
body {
  font-size: 16px;
  @extend %regular;
  color: $dark_blue;
}
img {
  display: inline-block;
  width: inherit;
  height: inherit;
  max-width: 100%;
}
a {
  &:hover {
    // color: $color_link_hover;
  }
}

.c-content-main {
  padding: rem(70) rem(25) rem(50);
  @include for-width(-small-lg) {
    padding: rem(20) rem(25) rem(50);
  }

  & .container {
    margin: 0 auto;
  }

  &__section {
    padding-top: rem(30);

    & > *:last-child {
      margin-bottom: rem(20);
      margin-right: 0;
    }
  }

  &__wrap {
    display: flex;
  }

  &__navigation {
    padding-top: rem(30);
    flex: 0 0 auto;
    @include for-width(-tablet) {
      display: none;
    }

    &-list {
      position: sticky;
      top: rem(120);
    }

    &-link {
      @extend %light;
      @include font_sizes(16, 35);
      color: $dark_blue;

      &.active {
        @extend %medium;
        padding-left: rem(13);
        position: relative;

        &::after {
          position: absolute;
          content: "";
          top: 0%;
          left: 0;
          width: 1px;
          height: 100%;
          background-color: $hard_blue;
        }
      }
    }
  }

  &__title {
    @extend %bold;
    //@include font_sizes(35, 50);
    @include font_sizes(28, 40);
    @include for-width(-tablet) {
      //@include font_sizes(33, 45);
      @include font_sizes(26, 36);
    }
    color: $dark_blue;
    margin-bottom: rem(50);
    @include for-width(-small-lg) {
      margin-bottom: rem(40);
    }
  }

  &__text {
    @extend %text-main;
    color: $dark_blue;
    margin-bottom: rem(30);
    @include for-width(-small-lg) {
      margin-bottom: rem(20);
    }

    & a {
      color: $hard_blue;
    }
  }

  &__scroll {
    @extend %light;
    color: $dark_blue;
    //@include font_sizes(23, 40);
    @include font_sizes(18, 32);
    @include for-width(-small-lg) {
      //@include font_sizes(17, 27);
      @include font_sizes(14, 22);
    }
    max-height: rem(480);
    overflow: auto;
    padding: rem(30) rem(30) rem(47);
    margin-bottom: rem(50);
    @include for-width(-small-lg) {
      padding: rem(10) rem(10) rem(27);
      margin-bottom: rem(30);
    }
    background-color: $light_blue;
    box-shadow: rem(4) rem(4) rem(10) rgba(25, 25, 68, 0.1);
    scrollbar-width: thin;
    scrollbar-color: $dark_blue $white;

    &::-webkit-scrollbar {
      height: 20px;
      background-color: #143861;
    }

    &::-webkit-scrollbar-thumb {
      background-color: $dark_blue;
      height: 20px;
    }
    &::-webkit-scrollbar-button {
      height: 10px;
    }

    &::-webkit-resizer {
      height: 20px;
      border-radius: 10px;
    }
    &::-webkit-scrollbar {
      height: 10px;
      border-radius: 10px;
    }

    &::-webkit-scrollbar-button:vertical:start:decrement {
      display: none;
    }
    &::-webkit-scrollbar-button:vertical:end:increment {
      display: none;
    }
  }

  &__more {
    @extend %medium;
    //@include font_sizes(25, 40);
    @include font_sizes(20, 32);
    @include for-width(-tablet-lg) {
      //@include font_sizes(23, 35);
      @include font_sizes(18, 30);
    }
    @include for-width(-tablet) {
      //@include font_sizes(20, 32);
      @include font_sizes(16, 26);
    }
    @include for-width(-small-lg) {
      //@include font_sizes(17, 27);
      @include font_sizes(14, 22);
    }
    margin-bottom: rem(50);

    & a {
      color: $hard_blue;
      text-decoration: underline;
    }
  }

  &__list {
    padding-left: rem(40);
    margin-bottom: rem(40);
    @include for-width(-small-lg) {
      padding-left: rem(22);
      margin-bottom: rem(30);
    }

    &-item {
      @extend %text-main;
      margin-bottom: rem(20);
      @include for-width(-small-lg) {
        margin-bottom: rem(10);
      }
      color: $dark_blue;
      position: relative;

      &::after {
        position: absolute;
        top: rem(25);
        left: rem(-40);
        transform: translateY(-50%);
        display: block;
        content: "";
        width: rem(10);
        height: rem(10);
        background-color: $hard_blue;
        border-radius: 50%;
        @include for-width(-small-lg) {
          top: rem(16);
          left: rem(-22);
          width: rem(8);
          height: rem(8);
        }
      }
    }
  }

  &__list--small {
    padding-left: rem(80);
    margin-bottom: rem(40);
    @include for-width(-tablet) {
      padding-left: rem(20);
    }

    &-item {
      @extend %text-main;
      color: $dark_blue;
      position: relative;
      a {
        color: $dark_blue;
      }

      &::after {
        position: absolute;
        top: 50%;
        left: rem(-25);
        transform: translateY(-50%);
        display: block;
        content: "";
        width: rem(10);
        height: rem(10);
        background-color: $hard_blue;
        border-radius: 50%;
      }
    }
  }

  &__btn {
    margin-right: rem(50);
    margin-top: rem(20);
  }
}
