// ================ Poppins-Bold ================
@include font_face(Poppins-Bold, Poppins-Bold);

%bold {
  font-family: "Poppins-Bold", sans-serif;
}

// ################ Poppins-Bold ################
// ================ Poppins-Regular ================
@include font_face(Poppins-Regular, Poppins-Regular);

%regular {
  font-family: "Poppins-Regular", sans-serif;
}

// ################ Poppins-Regular ################
// ================ Poppins-Medium ================
@include font_face(Poppins-Medium, Poppins-Medium);

%medium {
  font-family: "Poppins-Medium", sans-serif;
}

// ################ Poppins-Medium ################
// ================ Poppins-MediumItalic ================
@include font_face(Poppins-MediumItalic, Poppins-MediumItalic);

%medium-italic {
  font-family: "Poppins-MediumItalic", sans-serif;
}

// ################ Poppins-MediumItalic ################
// ================ Poppins-Light ================
@include font_face(Poppins-Light, Poppins-Light);

%light {
  font-family: "Poppins-Light", sans-serif;
}

// ################ Poppins-Regular ################
// ================ Poppins-SemiBold ================
@include font_face(Poppins-SemiBold, Poppins-SemiBold);

%semibold {
  font-family: "Poppins-SemiBold", sans-serif;
}

// ################ Poppins-SemiBold ################
// ================ TTNorms-Regular ================
@include font_face(TTNorms-Regular, TTNorms-Regular);

%norms-regular {
  font-family: "TTNorms-Regular", sans-serif;
}

// ################ TTNorms-Regular ################
// ================ TTNorms-Bold ================
@include font_face(TTNorms-Bold, TTNorms-Bold);

%norms-bold {
  font-family: "TTNorms-Bold", sans-serif;
}

// ################ TTNorms-Bold ################
// ================ TTNorms-Light ================
@include font_face(TTNorms-Light, TTNorms-Light);

%norms-light {
  font-family: "TTNorms-Light", sans-serif;
}

// ################ TTNorms-Light ################

// ====================== Font sizes =======================
%ttu {
  text-transform: uppercase;
}

%letter-space {
  letter-spacing: 0.02em;
}
// H1

%h1-title {
  @extend %bold;
  //@include font_sizes(69, 103);
  @include font_sizes(55, 82);
  @include for-width(-tablet-lg) {
    //@include font_sizes(59, 80);
    @include font_sizes(47, 64);
  }
  @include for-width(-tablet) {
    @include font_sizes(33, 43);
    //@include font_sizes(26, 43);
  }
}

// H2
%h2-title {
  @extend %bold;
  //@include font_sizes(35, 50);
  @include font_sizes(28, 40);
  @include for-width(-tablet-lg) {
    //@include font_sizes(32, 48);
    @include font_sizes(25, 38);
  }
  @include for-width(-tablet) {
    @include font_sizes(16, 26);
    //@include font_sizes(13, 21);
  }
}

// H3
%h3-title {
  @extend %semibold;
  //@include font_sizes(25, 35);
  @include font_sizes(20, 28);
}

// P
%text-main {
  @extend %regular;
  //@include font_sizes(25, 40);
  @include font_sizes(20, 32);
  @include for-width(-tablet-lg) {
    //@include font_sizes(23, 35);
    @include font_sizes(18, 28);
  }
  @include for-width(-tablet) {
    @include font_sizes(20, 32);
    //@include font_sizes(16, 25);
  }
  //@include for-width(-small-lg) {
  //  //@include font_sizes(17, 27);
  //  @include font_sizes(14, 22);
  //}
}

// Quote
%italic-quote {
  @extend %medium-italic;
  //@include font_sizes(32, 52);
  @include font_sizes(26, 42);
  @include for-width(-tablet-lg) {
    //@include font_sizes(23, 35);
    @include font_sizes(18, 28);
  }
  @include for-width(-tablet) {
    //@include font_sizes(20, 32);
    @include font_sizes(16, 26);
  }
  @include for-width(-small-lg) {
    @include font_sizes(17, 27);
    //@include font_sizes(14, 22);
  }
}

// Body
%body-text {
  @extend %regular;
  //@include font_sizes(23, 35);
  @include font_sizes(18, 28);
  @include for-width(-tablet-lg) {
    //@include font_sizes(17, 27);
    @include font_sizes(16, 25);
  }
}
