%db {
    display: block;
}

%dib {
    display: inline-block;
}

%dn {
    display: none;
}

%df {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
}
%jcs {
    justify-content: flex-start;
}
%jce {
    justify-content: flex-end;
}
%jcc {
    justify-content: center;
}
%jcsb {
    justify-content: space-between;
}

%jcsa {
    justify-content: space-around;
}
%ais {
    -ms-align-items: flex-start;
    align-items: flex-start;
}
%aic {
    -ms-align-items: center;
    align-items: center;
}
%aib {
    -ms-align-items: flex-end;
    align-items: flex-end;
}
%fw {
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
}

%fdc {
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
}
%fdr {
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    -o-flex-direction: row;
    flex-direction: row;
}
%bg-reset {
    background-color: $black;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

%evt-none {
    pointer-events: none;
}

%evt-all {
    pointer-events: all;
}
%t-left {
    text-align: left;
}
%t-center {
    text-align: center;
}
%t-right {
    text-align: right;
}
%container_new {
    max-width:90%;
    width:1360px;
    margin: auto;
    position: relative;
}
%centered_all {
    position:absolute;
    top:50%;
    left:50%;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}