//---------------------------------------------fonts
$font_path: "~static/fonts/";
$font_base: sans-serif;
$font_size_base: 16px;
//---------------------------------------------fonts###

//---------------------------------------------Imagws path
$img_dir: "~assets/img/";
//---------------------------------------------Imagws path###

//---------------------------------------------colors
$white: #fff;

$light_blue: #f5fcfe;
$blue: #98e0f9;
$hard_blue: #3cadef;
$dark_blue: #191944;
$black: #17193d;

$body_bg: $white;
$scroll_bar_color: $white;
$scroll_thumb_color: $black;
//---------------------------------------------colors###
$dark_blue_new: #141638;
$blue_new: #08A5FC;
$light_blue_new: #3CADEF;
$light_blue_hover: #229BE2;
$light_grey_new:#D0CEDA;
$light_bg: #F7F7F7;
$black_new: #000;


$black_blue: #00052F;
$white_50: rgba(255,255,255,.5);
$black_blue_light:#202F5A;
$main_blue_light:#0D4AE7;
$orange: #FF9039;
$blue: #3CADEF;
$green: #00B127;
$pink: #FF007A;