//---------------------------------------------fonts
$font_path: "~static/fonts/";
$font_base: sans-serif;
$font_size_base: 16px;
//---------------------------------------------fonts###

//---------------------------------------------Imagws path
$img_dir: "~assets/img/";
//---------------------------------------------Imagws path###

//---------------------------------------------colors
$white: #fff;

$light_blue: #f5fcfe;
$blue: #98e0f9;
$hard_blue: #3cadef;
$dark_blue: #191944;
$black: #17193d;

$body_bg: $white;
$scroll_bar_color: $white;
$scroll_thumb_color: $black;
//---------------------------------------------colors###
